@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
  text-transform: capitalize;
  text-decoration: none;
  -webkit-transition: all .2 linear;
  transition: all .2 linear;
}

@-webkit-keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    -webkit-transform: translateY(4rem);
            transform: translateY(4rem);
    opacity: 0;
  }
}

body {
  height: 3000px;
}

html {
  font-size: 10px;
  /* it equel to 62.5%*/
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: #e84393;
  /*color scroll bar with pink*/
}

.heading {
  text-align: center;
  margin-bottom: 4rem;
}

.heading h1 {
  font-size: 3.5rem;
  color: #222;
}

.heading p {
  margin: 1rem auto;
  font-size: 1.5rem;
  color: #777;
  max-width: 50rem;
  line-height: 1.7;
}

section {
  padding: 5rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border: 0.2rem solid #222;
  background-color: #fff;
  padding: 1rem 2.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #222;
}

.btn:hover {
  color: #fff;
  background-color: #e84393;
}

/*start header*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.5rem 9%;
  background-color: #fff;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .logo img {
  display: block;
  width: 7rem;
}

.header .search-form {
  background: #f5f5f5;
  height: 5rem;
  width: 50rem;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.header .search-form input {
  width: 92%;
  background: none;
  color: #777;
  font-size: 1.6rem;
  text-transform: none;
}

.header .search-form i {
  font-size: 1.5rem;
  color: #222;
  cursor: pointer;
}

.header .search-form i:hover {
  color: #e84393;
}

.header .icons i {
  margin: 1rem;
  margin-left: 0;
  cursor: pointer;
  font-size: 1.5rem;
  background: #f5f5f5;
  color: #222;
  height: 4rem;
  width: 4rem;
  line-height: 3;
  text-align: center;
  border-radius: 5px;
}

.header .icons i:hover {
  background-color: #e84393;
  color: #fff;
}

.header .icons i.fa-magnifying-glass {
  display: none;
  /*il va afficher in mobil screen*/
}

/*end header*/
/**nav section**/
.navbar {
  position: absolute;
  top: 0;
  left: -110%;
  width: 100%;
  height: 100%;
  background: url("../images/final-nav-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-right: 20%;
  z-index: 1000;
}

.navbar.active {
  left: 0;
}

.navbar i {
  color: #222;
  position: absolute;
  height: 4rem;
  width: 4rem;
  background-color: #fff;
  top: 01;
  right: 10vw;
  top: 13%;
  line-height: 4rem;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  border-radius: 5px;
}

.navbar i:hover {
  background-color: #e84393;
  color: #fff;
}

.navbar a {
  font-size: 4rem;
  color: #fff;
  font-weight: lighter;
}

.navbar a:hover {
  color: #e84393;
  letter-spacing: .2rem;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  .header .icons i.fa-magnifying-glass {
    display: inline-block;
    /*il va afficher in mobil screen*/
  }
  .header .search-form {
    position: absolute;
    top: 99%;
    left: 0;
    border-top: 0.2rem solid #222;
    border-bottom: 0.2rem solid #222;
    width: 100%;
    background-color: #fff;
    height: 6rem;
    display: none;
    -webkit-animation: fadeUp .2 linear backwards;
            animation: fadeUp .2 linear backwards;
    padding-top: 1rem;
  }
  .header .search-form.active {
    display: block;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/*end nav section*/
/**start home section**/
.home {
  padding: 0;
}

.home .slide {
  display: none;
}

.home .slide.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .slide .content {
  width: 50%;
  padding: 2rem 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fce9f2;
  position: relative;
}

.home .slide .content img {
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  -webkit-animation: fadUp .2s linear backwards .2s;
          animation: fadUp .2s linear backwards .2s;
  display: none;
}

.home .slide .content span {
  display: block;
  color: #e84393;
  font-size: 2.5rem;
  padding-bottom: .5rem;
  letter-spacing: .2rem;
  text-transform: uppercase;
  -webkit-animation: fadUp .2s linear backwards .4s;
          animation: fadUp .2s linear backwards .4s;
}

.home .slide .content h3 {
  font-size: 5.5rem;
  text-transform: uppercase;
  color: #222;
  -webkit-animation: fadUp .2s linear backwards .6s;
          animation: fadUp .2s linear backwards .6s;
}

.home .slide .content .btn {
  -webkit-animation: fadUp .2s linear backwards .8s;
          animation: fadUp .2s linear backwards .8s;
}

.home .slide .content .controls {
  position: absolute;
  bottom: 12%;
  right: -7rem;
}

.home .slide .content .controls i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  background-color: #fff;
  color: #222;
  margin: 0 1rem;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.home .slide .content .controls i:hover {
  background-color: #e84393;
  color: #fff;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.home .slide .image {
  width: 50%;
}

.home .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem 2rem;
  }
  section {
    padding: 5rem 2rem;
  }
  .home .slide .content {
    padding: 2rem;
  }
  .home .slide .content span {
    font-size: 2rem;
  }
  .home .slide .content h3 {
    font-size: 4rem;
  }
}

@media (max-width: 768px) {
  .home .slide {
    position: relative;
    height: calc(100vh - 6rem);
  }
  .home .slide .content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.7);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .home .slide .content img {
    display: inline-block;
  }
  .home .slide .content .controls {
    position: static;
    margin-top: 7rem;
  }
  .home .slide .content .controls i {
    margin: 0 .5rem;
  }
  .home .slide .image {
    width: 100%;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/**end home section**/
/*start category*/
.category {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
  padding: 9rem 9%;
}

.category .box {
  padding: 2rem;
  border-radius: .5rem;
  background-color: #f5f5f5;
  text-align: center;
}

.category .box:hover {
  background-color: #222;
}

.category .box:hover img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

.category .box:hover p {
  color: #fff;
}

.category .box img {
  height: 10rem;
  margin-bottom: 1rem;
}

.category .box p {
  font-size: 1.7rem;
  color: #222;
}

/*End category*/
/*start about us*/
.about {
  background: url("../images/about-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .content {
  width: 55rem;
  background-color: #fff;
  padding: 3rem;
}

.about .content span {
  color: #e84393;
  font-size: 2rem;
}

.about .content h3 {
  padding-top: 1.5rem;
  font-size: 3rem;
  color: #222;
}

.about .content p {
  font-size: 1.5rem;
  color: #777;
  padding: 1rem 0;
  line-height: 1.6;
}

/*end about us*/
/*start shop section*/
.shop {
  position: relative;
  overflow: hidden;
}

.shop i.fa-less-than,
.shop i.fa-greater-than {
  position: absolute;
  top: 91%;
  z-index: 1;
  width: 4rem;
  height: 4rem;
  background-color: #fff;
  font-size: 2rem;
  line-height: 4rem;
  text-align: center;
  background-color: #e84393;
  margin-left: 1.5rem;
  cursor: pointer;
}

.shop i.fa-less-than.fa-greater-than,
.shop i.fa-greater-than.fa-greater-than {
  right: 5%;
}

.shop .products-slider {
  height: 60rem;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3rem;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.shop .products-slider::-webkit-scrollbar {
  display: none;
}

.shop .products-slider .slide {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: 35rem;
  border: 0.2rem solid #222;
  background-color: #fff;
  min-width: 20%;
}

.shop .products-slider .slide:hover .image img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.shop .products-slider .slide:hover .image .icons {
  right: 1rem;
}

.shop .products-slider .slide .image {
  height: 35rem;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.shop .products-slider .slide .image .discount {
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .5rem 1rem;
  font-size: 1.5rem;
  color: #fff;
  background: #e84393;
  z-index: 10;
}

.shop .products-slider .slide .image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.shop .products-slider .slide .image .icons {
  position: absolute;
  bottom: 0;
  right: -8rem;
}

.shop .products-slider .slide .image .icons a {
  height: 5rem;
  width: 5rem;
  line-height: 4.5rem;
  background-color: #fff;
  font-size: 2rem;
  color: #222;
  border: 0.2rem solid #222;
  -webkit-box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
          box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  text-align: center;
  display: block;
}

.shop .products-slider .slide .image .icons a:hover {
  background-color: #e84393;
  color: #fff;
}

.shop .products-slider .slide .content {
  padding: 2rem;
}

.shop .products-slider .slide .content .starts {
  padding-bottom: .5rem;
}

.shop .products-slider .slide .content .starts i {
  font-size: 1.5rem;
  color: #777;
}

.shop .products-slider .slide .content p {
  font-size: 2rem;
  color: #222;
  line-height: 2;
}

.shop .products-slider .slide .content .price {
  font-size: 2rem;
  color: #e84393;
}

.shop .products-slider .slide .content .price span {
  font-size: 1.5rem;
  color: #777;
  text-decoration: line-through;
}

@media (max-width: 991px) {
  .shop .products-slider .slide {
    min-width: 33%;
  }
  .shop {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  .shop .products-slider .slide {
    min-width: 47%;
  }
  .shop {
    padding: 5rem 2rem;
  }
}

@media (max-width: 450px) {
  .shop .products-slider .slide {
    min-width: 95%;
  }
  .shop {
    padding: 5rem 2rem;
  }
}

/*end shop section*/
/*start blog*/
.reviews-wrapper {
  position: relative;
  height: 40rem;
}

.reviews-wrapper .reviews-item {
  text-align: center;
  padding: 3rem;
  display: none;
  width: 77%;
  max-width: 1080px;
  margin: auto;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: none;
}

.reviews-wrapper .reviews-item.activeSlide {
  display: block;
}

.reviews-wrapper .reviews-item .reviews-title {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

.reviews-wrapper .reviews-item .text {
  font-size: 1.5rem;
  color: #777;
  margin: 2rem 0;
  line-height: 1.8;
}

.reviews-wrapper .reviews-item h3 {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 4px;
}

.reviews-wrapper .pre-btn,
.reviews-wrapper .next-btn {
  position: absolute;
  font-size: 1.5rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  background-color: #e84393;
  color: #222;
}

.reviews-wrapper .pre-btn:hover,
.reviews-wrapper .next-btn:hover {
  opacity: .8;
}

.reviews-wrapper .pre-btn {
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.reviews-wrapper .next-btn {
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media (max-width: 991px) {
  section {
    padding: 1rem 2rem;
  }
}

@media (max-width: 450px) {
  .reviews-wrapper .reviews-item .reviews-title {
    font-size: 3.5rem;
  }
  .reviews-wrapper .reviews-item .text {
    font-size: 1.4rem;
  }
}

/*end blog*/
/*# sourceMappingURL=style.css.map */