@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,300&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    transition: all .2 linear;
}
$pink : #e84393;
$black : #222;
$white : #fff;
$light-bg : #f5f5f5;
$light-color : #777;
$border : .2rem solid $black;
$box-shadow :.5rem .5rem 1rem rgba(0,0,0,.1);

@mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax($val,1fr));
    gap: 2rem;

}
@keyframes fadeUp {
    0% {
        transform: translateY(4rem);
        opacity: 0;
    }
}
body {
    height: 3000px;
}
html {
    font-size: 10px; /* it equel to 62.5%*/
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    &::-webkit-scrollbar {
        width: 1rem;
    }
    &::-webkit-scrollbar-track {
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background: $pink;  /*color scroll bar with pink*/
    }
}
.heading {
    text-align: center;
    margin-bottom: 4rem;
    h1 {
        font-size: 3.5rem;
        color: $black;
    }
    p {
        margin: 1rem auto;
        font-size: 1.5rem;
        color: $light-color;
        max-width: 50rem; // for hide expand in grand screen
        line-height: 1.7;
    }
}
section {
    padding: 5rem 9%; //instead of container with specific value
}
.btn {
    display: inline-block;
    margin-top: 1rem;
    border: $border;
    background-color: $white;
    padding: 1rem 2.8rem;
    font-size: 1.7rem;
    cursor: pointer;
    color: $black;
    &:hover {
        color: $white;
        background-color: $pink;
    }
}
/*start header*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 9%;
    background-color: $white;
    box-shadow: $box-shadow;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    .logo{
        img {
            display: block;
            width: 7rem;
        }
    }
    .search-form {
        background: $light-bg;
        height: 5rem;
        width: 50rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
        border-radius: 5px;
        input {
            width: 92%;
            background: none;
            color: $light-color;
            font-size: 1.6rem;
           text-transform: none;
        }
        i {
            font-size: 1.5rem;
            color: $black;
            cursor: pointer;
            &:hover {
                color: $pink;
            }
        }
    }
    .icons {
        i {
            margin: 1rem;
            margin-left: 0;
            cursor: pointer;
            font-size: 1.5rem;
            background: #f5f5f5;
            color: #222;
            height: 4rem;
            width: 4rem;
            line-height: 3;
            text-align: center;
            border-radius: 5px;
            &:hover {
                background-color: $pink;
                color: $white;
            }
            &.fa-magnifying-glass {
                display: none;  /*il va afficher in mobil screen*/
            }
        }
    }
}
/*end header*/

/**nav section**/
.navbar {
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: url('../images/final-nav-bg.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-flow: column;
    align-items: flex-end;
    padding-right: 20%;
    z-index: 1000;
    &.active {
        left: 0;
    }
    i {
        color: $black;
        position: absolute;
        height: 4rem;
        width: 4rem;
        background-color: #fff;
        top: 01;
        right: 10vw;
        top: 13%;
        line-height: 4rem;
        text-align: center;
        font-size: 2rem;
        cursor: pointer;
        border-radius: 5px;
        &:hover {
            background-color: $pink;
            color: $white;
        }
    }
    a {
        font-size: 4rem;
        color: $white;
        font-weight: lighter;
        &:hover {
            color: $pink;
            letter-spacing: .2rem;
            text-transform: uppercase;
        }
    }
}
@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 5rem 2rem;
    }
}
@media (max-width: 768px) {
 .header .icons i.fa-magnifying-glass {
        display: inline-block;  /*il va afficher in mobil screen*/
    }
    .header .search-form {
        position: absolute;
        top: 99%;
        left: 0;
        border-top: $border;
        border-bottom: $border;
        width: 100%;
        background-color: $white;
        height: 6rem;
        display: none;
        animation: fadeUp .2 linear backwards;
        padding-top: 1rem;
        &.active {
            display: block;
        }
    }
}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
/*end nav section*/

/**start home section**/
.home {
    padding: 0;
    //  height: calc(100vh - 7rem);
    .slide {
        display: none;
        &.active {
            display: flex;
        }
        .content {
            width: 50%;
            padding: 2rem 7%;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: flex-start;
            background-color: #fce9f2;
            position: relative;
            img {
                width: 20rem;
                height: 20rem;
                border-radius: 50%;
                margin-bottom: 2rem;
                animation: fadUp .2s linear backwards .2s;
                display: none;
            }
            span {
                display: block;
                color: $pink;
                font-size: 2.5rem;
                padding-bottom: .5rem;
                letter-spacing: .2rem;
                text-transform: uppercase;
                animation: fadUp .2s linear backwards .4s;
            }
            h3 {
                font-size: 5.5rem;
                text-transform: uppercase;
                color: $black;
                animation: fadUp .2s linear backwards .6s;
            }
            .btn {
                animation: fadUp .2s linear backwards .8s;
            }
            .controls {
                position: absolute;
                bottom: 12%;
                right: -7rem;
                i {
                    height: 5rem;
                    width: 5rem;
                    line-height: 5rem;
                    text-align: center;
                    font-size: 2rem;
                    background-color: $white;
                    color: $black;
                    margin: 0 1rem;
                    box-shadow: $box-shadow;
                    cursor: pointer;
                    &:hover {
                        background-color: $pink;
                        color: $white;
                        transform: scale(1.1);
                    }
                }
            }
        }
        .image {
            width: 50%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 5rem 2rem;
    }
    .home .slide {
        .content {
            padding: 2rem;
            span {
                font-size: 2rem;
            }
            h3 {
                font-size: 4rem;
            }
        }
    }
}
@media (max-width: 768px) {
 .home .slide {
     position: relative;
     height: calc(100vh - 6rem);
     .content {
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(255,255,255,.7);
         align-items: center;
         img {
             display: inline-block;
         }
         .controls {
             position: static;
             margin-top: 7rem;
             i {
                 margin: 0 .5rem;
             }
         }
     }
     .image {
         width: 100%;
     }
 }

}
@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
}
/**end home section**/

/*start category*/
.category {
    @include grid(16rem);
    padding: 9rem 9%;
    .box {
        padding: 2rem;
        border-radius: .5rem;
        background-color: $light-bg;
        text-align: center;
        &:hover {
            background-color: $black ;
            img {
                filter: invert(1);
            }
            p {
                color: $white;
            }
        }
        img {
            height: 10rem;   // when i decide the height so i don't need to make widthh 100% because it will be adapte 
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.7rem;
            color: $black;
        }
    }
}
/*End category*/

/*start about us*/
.about {
    background: url('../images/about-bg.jpg') no-repeat;
    background-size: cover;  // image cover all screen as if section has padding
    background-position: center;
    background-attachment: fixed;  // when i scroll the image rest fixed
    display: flex;
    align-items: center;
    .content {
        width: 55rem;
        background-color: $white;
        padding: 3rem;
        span {
            color: $pink;
            font-size: 2rem;
        }
        h3 {
            padding-top: 1.5rem;
            font-size: 3rem;
            color: $black;
        }
        p {
            font-size: 1.5rem;
            color: $light-color;
            padding: 1rem 0;
            line-height: 1.6;
        }
    }
}
/*end about us*/

/*start shop section*/
.shop {
    position: relative;
    overflow: hidden;
    i.fa-less-than,
    i.fa-greater-than{
        position: absolute;
        top: 91%;
        z-index: 1;
        width: 4rem;
        height: 4rem;
        background-color: #fff;
        font-size: 2rem;
        line-height: 4rem;
        text-align: center;
        background-color: $pink;
        margin-left: 1.5rem;
        cursor: pointer;
        &.fa-greater-than {
            right: 5%;
        }
    }
    .products-slider {
        height: 60rem;
        padding: .5rem 0;
        display: flex;
        align-items: center;
        gap: 3rem;
        overflow-x: auto;
        scroll-behavior: smooth;
        &::-webkit-scrollbar {
            display: none;
        }
        .slide {
            flex: 0 0 auto;
            width: 35rem;
            border: $border;
            background-color: $white;
            min-width: 20%;
            &:hover .image {
                img {
                    transform: scale(1.1);
                }
                .icons {
                    right: 1rem;
                }
            }
            .image {
                height: 35rem;
                width: 100%;
                position: relative;
                overflow: hidden;
                .discount {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    padding: .5rem 1rem;
                    font-size: 1.5rem;
                    color: $white;
                    background: $pink;
                    z-index: 10;
                }
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                .icons {
                    position: absolute;
                    bottom: 0 ;
                    right: -8rem;
                    a {
                        height: 5rem;
                        width: 5rem;
                        line-height: 4.5rem;
                        background-color: $white;
                        font-size: 2rem;
                        color: $black;
                        border: $border;
                        box-shadow: $box-shadow;
                        margin-bottom: 1rem;
                        text-align: center;
                        display: block;
                        &:hover {
                            background-color: $pink;
                            color: $white;
                        }
                    }
                }
            }
            .content {
                padding: 2rem;
                .starts {
                    padding-bottom: .5rem;
                    i {
                        font-size: 1.5rem;
                        color: $light-color;
                    }
                }
                p {
                    font-size: 2rem;
                    color: $black;
                    line-height: 2;
                }
                .price {
                    font-size: 2rem;
                    color: $pink;
                    span {
                        font-size: 1.5rem;
                        color: $light-color;
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .shop .products-slider .slide {
        min-width: 33%;
    }
    .shop {
        padding: 5rem 2rem;
    }

}
@media (max-width: 768px) {
    .shop .products-slider .slide {
        min-width: 47%;
    }
    .shop {
        padding: 5rem 2rem;
    }
 }

@media (max-width: 450px) {
    .shop .products-slider .slide {
        min-width: 95%;
    }
    .shop {
        padding: 5rem 2rem;
    }
}
/*end shop section*/